@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans:wght@300;400;700&display=swap");

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7d0b9;
    font-family: "Josefin Sans", sans-serif;
    color: #602f27;
    font-size: 16px;
}

header {
    width: 100%;
    padding: 10% 0 4% 0;
    background-color: #fff8de;
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #f19356;
}

section {
    padding: 0 5% 5% 5%;
}

ul {
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px solid #602f27;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: #9ba5b1;
}

/* text */
#logo {
    color: #602f27;
    text-align: center;
    padding-bottom: 8%;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    padding-bottom: 2%;
}

p {
    line-height: 150%;
    padding-bottom: 2%;
}

.font-weight-100 {
    font-weight: 100;
    font-size: .9rem;
    line-height: 95% !important;
    margin-top: 4px;
}

span {
    font-weight: bold;
}

.hidden-heading {
    display: none;
}


/* layout classes */
.orangey-bg {
    background-color: #f1935644;
    border-top: 2px solid #fff8de;
    border-bottom: 2px solid #fff8de;
}

.orangey-bg:last-of-type {
    background-color: #f1935644;
    border-bottom: 3px solid #f19356;
}

.heading-layout {
    display: flex;
    padding-top: 8%;
    padding-bottom: 5%;
}

div.heading-layout i {
    margin-right: 5px;
}


/* media items */
#hero-image {
    margin-top: 27%;
    padding: 0;
    height: 540px;
    width: 100%;
    position: relative;
    background: url("images/free-wide.webp") no-repeat center center/cover;
    background-position: 30% 100%;
    border-bottom: 2px solid #602f27;
}

#hero-image-text {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 110%;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 40%;
    text-align: right;
    padding: 5px;
    letter-spacing: 0.5px;
    color: #f19356;
}

#video-container {
    margin-top: 8%;
    width: 100%;
}

#organist-video {
    width: 100%;
    border: 2px solid black;
}


.landscape {
    max-width: 100%;
}

.portrait {
    max-width: 60%;
}

/* form */
#sign-up-form {
    width: 100%;
}

fieldset {
    border: none;
    margin-top: 10%;
}

fieldset:last-of-type {
    border: none;
    margin-bottom: 10%;
}

input,
textarea {
    margin: 0 0 5%;
    width: 100%;
    min-height: 2em;
    font-family: "Josefin Sans";
    font-size: 0.75em;
    border: 1px solid black;
    padding: 2%;
}

label {
    padding: 0 0 10%;
}

.full-width {
    padding: 0 0 10%;
}

#sign-up-form label.full-width input {
    width: 100%;
    max-width: 75%;
    margin-left: auto;
}

#sign-up-form label {
    display: flex;
    align-items: center;
}

#sign-up-form label[for="message"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 3%;
}

#sign-up-form label:last-child {
    padding: 0;
}

#sign-up-form label input {
    margin-right: 12px;
    width: 25px;
    margin-bottom: 0px;
}

select {
    margin: 10px 0 0;
    width: 100%;
    min-height: 2em;
    background-color: white;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    margin: auto;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    color: #602f27;
    background-color: #fff8de;
    padding-top: 2px;
    border: 2px solid #f19356;
    min-width: 100px;
    min-height: 1.5rem;
}

button:active {
    color: #602f27;
    background-color: #f19356;
    border: 2px solid #602f27;
}

/* map */
#map-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.map {
    border: 2px solid #fff8de;
    width: 100%;
    height: 252px;
}

footer {
    width: 100%;
    background-color: #fff8de;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer ul {
    padding-bottom: 15px;
}

.copyright {
    font-size: 40%;
    padding-top: 10px;
    text-align: center;
}

/* media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    header {
        width: 100%;
        height: 12%;
        background-color: #fff8de;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 5% 2% 2% 5%;
        border-bottom: 3px solid #f19356;
    }

    #logo {
        color: #602f27;
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0;
    }

    h1 {
        font-size: 2rem;
    }

    nav>ul {
        font-size: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    #hero-image {
        margin-top: 12%;
    }

    #hero-image-text {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 125%;
        position: absolute;
        top: 11%;
        right: 8%;
        width: 40%;
        text-align: right;
        padding: 5px 10px 5px 2px;
        letter-spacing: 0.5px;
        color: #f19356;
    }

    #video-container {
        margin-top: 5%;
    }

    #organist-video {
        width: 100%;
        height: 300px;
    }

    fieldset {
        border: none;
        margin: 0 10% 0;
    }

    fieldset:last-of-type {
        border: none;
        margin: 5% 10%;
    }

    #sign-up-form label.full-width input {
        width: 70%;
        margin-left: 25%;
    }

    #sign-up-form label[for="message"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-bottom: 3%;
    }

    textarea {
        margin: 0 0 2%;
        width: 100%;
        min-height: 2em;
        font-family: "Josefin Sans";
        font-size: 0.75em;
        border: 1px solid black;
        padding: 2%;
    }

    .map {
        border: 2px solid #fff8de;
        width: 100%;
        height: 518px;
    }

    footer {
        width: 100%;
        background-color: #fff8de;
        font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    footer ul {
        font-size: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .copyright {
        font-size: 40%;
        padding-top: 10px;
        text-align: center;
    }
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    body {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 24px;
    }

    h4 {
        font-size: 21px;
    }

    header {
        width: 100%;
        height: 12%;
        background-color: #fff8de;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 5% 2% 0 5%;
        margin: 0;
        border-bottom: 3px solid #f19356;
    }

    ul {
        font-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #logo {
        color: #602f27;
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0;
    }

    #hero-image {
        margin-top: 8%;
    }

    #hero-image-text {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 150%;
        position: absolute;
        top: 17%;
        right: 8%;
        width: 40%;
        text-align: right;
        padding: 5px 10px 5px 2px;
        letter-spacing: 0.5px;
        color: #f19356;
    }

    #organist-video {
        height: 500px;
    }

    #form {
        margin-top: 0px;
    }

    #sign-up-form {
        width: 100%;
        margin-top: 2%;
        ;
    }

    .full-width {
        padding: 0 0 5%;
    }

    #sign-up-form label.full-width input {
        width: 60%;
        margin-left: 8%;
        font-size: .9rem;
        padding: 1%;
    }

        button[type="submit"] {
            margin-left: 33%;
        }

    fieldset {
        margin: 0 10% 5% 20%;
    }

    fieldset:last-of-type {
        margin: 0 10% 0 20%;
    }


    textarea,
    input {
        margin-left: 0%;
        width: 85%;
        min-height: 2em;
        font-size: 0.9rem;
        padding: 1%;
    }



    .copyright {
        font-size: 50%;
        padding-top: 12%;
        text-align: center;
    }
}

/* media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    header {
        width: 100%;
        background-color: #fff8de;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 4% 2% 0 4%;
        border-bottom: 3px solid #f19356;
    }

    #logo {
        color: #602f27;
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0;
    }

    #hero-image {
        margin-top: 8%;
    }

    #hero-image-text {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 180%;
        position: absolute;
        top: 17%;
        right: 8%;
        width: 50%;
        text-align: right;
        padding: 5px 15px 0 2px;
        letter-spacing: 0.5px;
        color: #f19356;
    }

    #organist-video {
        width: 100%;
        height: 500px;
    }

                button[type="submit"] {
                    margin-left: 35%;
                }

    footer ul {
        font-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

/* media query: largest (1350px and up) */
@media screen and (min-width: 1350px) {
    header {
        width: 100%;
        height: 12%;
        background-color: #fff8de;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 4% 2% 0 4%;
        border-bottom: 3px solid #f19356;
    }

    #logo {
        color: #602f27;
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0;
    }

    #hero-image {
        margin-top: 6%;
    }

    #hero-image-text {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 180%;
        position: absolute;
        top: 17%;
        right: 8%;
        width: 47%;
        text-align: right;
        padding: 5px 15px 0 2px;
        letter-spacing: 0.5px;
        color: #f19356;
    }

    #organist-video {
        width: 100%;
        height: 650px;
    }


                        button[type="submit"] {
                            margin-left: 37%;
                        }
    footer ul {
        font-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}