@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7d0b9;
    font-family: "Josefin Sans", sans-serif;
    color: #602f27;
    font-size: 16px;
}

header {
    padding: 50px 0 20px 0;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #fff8de;
    border-bottom: 3px solid #f19356;
}

section {
    padding: 0 5% 5% 5%;
}

ul {
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.anchor-class {
    margin-top: 0;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px solid #602f27;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: #9ba5b1;
}

/* text */
#logo {
    color: #602f27;
    text-align: center;
    padding-bottom: 25px;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    padding-bottom: 2%;
}

p {
    line-height: 150%;
    padding-bottom: 2%;
}

.font-weight-100 {
    font-weight: 100;
    font-size: .9rem;
    line-height: 95%;
    margin-top: 4px;
}

span {
    font-weight: bold;
}

.hidden-heading {
    display: none;
}

/* layout classes */
.orangey-bg {
    background-color: #f1935644;
    border-top: 2px solid #fff8de;
    border-bottom: 2px solid #fff8de;
}

.orangey-bg:last-of-type {
    background-color: #f1935644;
    border-bottom: 3px solid #f19356;
}

.heading-layout {
    display: flex;
    padding-top: 8%;
    padding-bottom: 5%;
}

div.heading-layout i {
    margin-right: 5px;
}

/* media items */
#hero-image {
    margin: 0;
    height: 540px;
    width: 100%;
    position: relative;
    background: url("images/free-wide.webp") no-repeat center center/cover;
    background-position: 30% 100%;
    border-bottom: 2px solid #602f27;
}

#hero-image-text {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 110%;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 40%;
    text-align: right;
    padding: 5px;
    letter-spacing: 0.5px;
    color: #f19356;
    transition: top 0.1s, right 0.1s;
}

#video-container {
    margin-top: 8%;
}

#organist-video {
    width: 100%;
    height: 140px;
    border: 2px solid black;
}

/* gallery */
/* code from 3rd party via: https: //www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: bottom;
    width: 100%;
}
/* end of 3rd party code */

/* (modified) 3rd party code via: https: //codepen.io/rstrahl/pen/rxmjgL form-specific formatting */
.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label {
    flex: none;
    display: block;
    width: 30%;
    font-size: 1em;
    margin-top: 4%;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin: 3% 8px 10px 0;
    min-height: 1.5rem;
    padding: 5px 4px 3px;
    font-family: 'Josefin Sans';
    border: 1px solid #9ba5b1;
}

button[type="submit"] {
    padding: 6px 15px 3px;
    margin: 3% auto 0;
    min-width: 100px;
    min-height: 1.5rem;
    font-family: 'Josefin Sans';
    font-size: .75rem;
    color: #602f27;
    background-color: #fff8de;
    padding-top: 5px;
    border: 2px solid #f19356;
}

button:active {
    color: #602f27;
    background-color: #f19356;
    border: 2px solid #602f27;
}

/* end of 3rd party code */


/* map */
#map-div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.map {
    width: 100%;
    height: 140px;
    flex-grow: 1;
    border: 2px solid #fff8de;
}

/* footer */
footer {
    width: 100%;
    background-color: #fff8de;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer ul {
    padding-bottom: 15px;
}

.copyright {
    font-size: 40%;
    padding-top: 10px;
    text-align: center;
}

/* media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #hero-image-text {
        font-size: 130%;
        top: 10%;
        right: 10%;
        padding-right: 20px;
    }

    #organist-video,
    .map {
        height: 316px;
    }

        /* code from 3rd party via: https: //www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
    
        .column {
            flex: 33%;
            max-width: 50%;
            padding: 4px;
        }
    
        .column img {
            margin-top: 8px;
            width: 100%;
        }
            /* end of 3rd party code */

    /* media query: tablets and larger (768px and up) */
    @media screen and (min-width: 768px) {

        #organist-video,
        .map {
            height: 422px;
        }
    }

    /* media query: laptops and desktops (992px and up) */
    @media screen and (min-width: 992px) {

        #organist-video,
        .map {
            height: 545px;
        }
    }

    /* media query: largest screen resolutions (1280 and up) */
    @media screen and (min-width: 1280px) {
        #logo {
            font-size: 2.75rem;
        }

        ul {
            font-size: 130%;
            gap: 15px;
        }

        h2 {
            font-size: 28px;
        }

        h4 {
            font-size: 23px;
        }

        p {
            font-size: 130%;
        }

        #organist-video, .map {
            width: 890px;
            height: 590px;
        }

        .form-group label {
            width: 20%;
            font-size: 1.5em;
            margin-left: 12%;
        }

        .form-group .input-control {

            margin: 3% 20% 10px 0;
            min-height: 3rem;
            font-size: 1.25rem;

        }

        button[type="submit"] {
            min-width: 130px;
            min-height: 2.75rem;
            font-size: 1.25rem;

        }

        .copyright {
            font-size: 50%;
        }
    }
}