@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans:wght@300;400;700&display=swap");

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*  min-height: 100vh; */
    background-color: #e7d0b9;
    font-family: "Josefin Sans", sans-serif;
    color: #602f27;
    font-size: 16px;
}

header {
    width: 100%;
    padding: 10% 10% 5% 10%;
    background-color: #fff8de;
    position: fixed;
    z-index: 99;
    border-bottom: 3px solid #f19356;
}

section {
    padding: 0 5% 5% 5%;
    scroll-padding-top: 4rem;
}

main {}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px solid #9ba5b1;
}


/* links */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #9ba5b1;
}

.active {
    text-decoration: underline;
}


/* text */
#logo {
    color: #602f27;
    text-align: center;
    padding-bottom: 8%;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    padding-top: 8%;
    padding-bottom:2%;
}

p {
    line-height: 150%;
}

.font-weight-100 {
    font-weight: 100;
    font-size: .9rem;
}

span {
    font-weight: bold;
}

.hidden-heading {
    display: none;
}


/* layout classes */
.orangey-bg {
    background-color: #f1935644;
    border-top: 2px solid #fff8de;
    border-bottom: 2px solid #fff8de;
}

.orangey-bg:last-of-type {
    background-color: #f1935644;
    border-bottom: 3px solid #f19356;
}

.heading-layout {
    display: flex;
    padding-top: 8%;
    padding-bottom: 5%;
}

div.heading-layout i {
    margin-right: 5px;
}


/* media items */
#hero-image {
    height: 540px;
    width: 100%;
    position: relative;
    background: url("images/free-wide.webp") no-repeat center center/cover;
    background-position: 30% 100%;
    border-bottom: 2px solid #602f27;
}

#hero-image-text {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 110%;
    position: absolute;
    top: 29%;
    right: 5%;
    width: 40%;
    text-align: right;
    padding: 5px;
    letter-spacing: 0.5px;
    color: #f19356;
}

#history-section img {
    width: 100%;
    margin: 0 auto 0;
    padding: 14px 0;
}

/* form */
#form-section {}

legend {
    padding: 12px 0 0;
}

#sign-up-form {
    width: 100%;
}

fieldset {
    border: none;
    padding: 15px 0 0;
    border-bottom: 2px solid #9ba5b1;
}

fieldset:last-of-type {
    border: none;
    padding-bottom: 12%;
}

input,
textarea {
    margin: 0 0 5%;
    width: 100%;
    min-height: 2em;
    font-family: "Josefin Sans";
    font-size: 0.75em;
    border: 1px solid black;
    padding: 2%;
}

input {}

label {
    padding: 0 0 10%;
    
}

#sign-up-form label.full-width input {
    width: 100%;
    max-width: 75%;
    margin-left: auto;
}

label[for="message"] {
    flex-direction: column;
    padding-bottom: 3%;
}

label[for="message"] p {
    margin-right: auto;
    margin-bottom: 5%;
}

#sign-up-form label {
    display: flex;
    align-items: center;
}

#sign-up-form label:last-child {
    padding: 0;
}

.form-labels-checkboxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.form-labels-checkboxes:last-of-type {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

#sign-up-form label input {
    margin-right: 12px;
    width: 25px;
    margin-bottom: 0px;
}

select {
    margin: 10px 0 0;
    width: 100%;
    min-height: 2em;
    background-color: white;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    color: #602f27;
    background-color: #fff8de;
    border: 1px solid #602f27;
    min-width: 100px;
    min-height: 1.5rem;
}


/* map */
#map-div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.map {
    border: 2px solid #fff8de;
    margin: 14px 0;
}

.copyright {
    font-size: 40%;
    padding-top: 12%;
    text-align: right;
}

footer {
    width: 100%;
    background-color: #fff8de;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/*note: for larger screens use flexbox for history section?
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        
   enlarge image, form, map, video*/
}